DB_HOST = localhost # optionnel, par défaut localhost
DB_USER = root # optionnel, par défaut root
DB_PASSWORD = root # optionnel, par défaut root
DB_NAME = onokodb # optionnel, par défaut onokodb

SMTP_HOST = mailpit
SMTP_PORT = 1025
SMTP_USER = 
SMTP_PASSWORD = 
SMTP_FROM = noreply@example.com # optionnel, par défaut noreply@example.com
RESET_URL = http://localhost:4000 # optionnel, par défaut http://localhost:4000

INIT_LOGIN = admin
INIT_PASSWORD = admin # minimum 20 characters, at least one uppercase letter, one lowercase letter, one number and one special character
INIT_EMAIL = admin@example.com

JWT_SECRET = your_jwt_secret_key # optionnel, par défaut "your_jwt_secret_key"
JWT_EXPIRES_IN = 2h # optionnel, par défaut 2h (ex: 1d, 1h, 30m, 15s)