DB_HOST = localhost
DB_USER = root
DB_PASSWORD = root
DB_NAME = onokodb

INIT_LOGIN = admin
INIT_PASSWORD = admin # minimum 8 characters, at least one uppercase letter, one lowercase letter, one number and one special character
INIT_EMAIL = admin@example.com