NODE_ENV = development # accepted values: development, staging, production
CORS_ORIGIN = http://localhost:5173 # set to * to allow all origins (not recommended for production)

DB_HOST = localhost # optional, default localhost
DB_USER = root # optional, default root
DB_PASSWORD = root # optional, default root
DB_NAME = onokodb # optional, default onokodb

SMTP_HOST = mailpit
SMTP_PORT = 1025
SMTP_USER = 
SMTP_PASSWORD = 
SMTP_FROM = noreply@example.com # optional, default noreply@example.com
RESET_URL = http://localhost:5173/reset-password

INIT_LOGIN = admin
INIT_PASSWORD = Azertyuiop123456789! # minimum 20 characters, at least one uppercase letter, one lowercase letter, one number and one special character
INIT_EMAIL = admin@example.com

JWT_SECRET = dev_secret_change_me
JWT_EXPIRES_IN = 2h # optional, default 2h (ex: 1d, 1h, 30m, 15s)

REDIS_URL = redis://localhost:6379